html {
   height: 100%; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  display: flex;
}

body {
  height: 100%; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  display: flex;
}


.senca {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rob{
   border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

meni {
  margin: 10px;
}

.info-element {
  text-align: right;
  font-style: italic;
  padding-right: 15px;
}

table {
  border-spacing: 0 10px;
}

button {
  background: white;
}

.fakultete > span{
  text-align: center;
}

.fakultete > img{
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 5px;
}

.restavracije {
  background: url(../slike/restaurant_logo_mini.png) no-repeat scroll;
  background-position: 4px 2px;
  height: 31px;
  padding: 7px;
  padding-left: 35px;
  vertical-align: top;
}

input[type="submit"] {
  flex: 1;
  background-color: white;
  vertical-align:middle;
}

telo {
  flex: 1;
  float: right;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;
  background-color: lightgrey;
}
